<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itStudy.dao.ChatDao">
    <select id="unchatShow" resultType="hashmap">
        SELECT *,COUNT(sendUserId) AS COUNT FROM
        (
            SELECT chat.id, sendUserId, receiveUserId, sendMessage, sendTime, img1, u.`name`, u.`thumb`
            FROM chat
            LEFT JOIN `user` u ON u.`id` = chat.`sendUserId`
	        WHERE chat.receiveUserId = #{receiveUserId} AND chat.`status` = 1
	        ORDER BY chat.id DESC LIMIT 1000
        ) AS c
        GROUP BY c.sendUserId
    </select>

    <select id="chatInfo" resultType="com.itStudy.entity.User">
        SELECT id, `name`, thumb
        FROM `user`
        WHERE id IN (#{sendUserId}, #{receiveUserId})
        ORDER BY FIELD (id, #{sendUserId}, #{receiveUserId})
    </select>

    <select id="chatShowRecordList" resultType="com.itStudy.entity.Chat">
        SELECT *
        FROM `chat`
        WHERE (sendUserId=#{sendUserId} AND receiveUserId=#{receiveUserId})
        OR (sendUserId=#{receiveUserId} AND receiveUserId=#{sendUserId})
        ORDER BY id DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>



</mapper>