<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itStudy.dao.UserDao">


    <resultMap id="userMap" type="com.itStudy.entity.User">
        <id column="uid" property="id"></id>
        <result column="name" property="name"></result>
        <!--权限信息-->
        <collection property="perms" javaType="list" ofType="com.itStudy.entity.Perms">
            <id column="id" property="id"></id>
            <result column="permissions" property="permissions"></result>
        </collection>
    </resultMap>

    <select id="findPermsByUserName" parameterType="String" resultMap="userMap">
        SELECT u.`id` uid,u.`name`,p.`id` permsid,p.`permissions` permissions
        FROM user u LEFT JOIN user_perms up ON u.`id` = up.`userid`
        LEFT JOIN perms p
        ON up.`permsId` = p.`id`
        WHERE u.`name`= #{name}
    </select>

    <select id="findByUserName" parameterType="String" resultType="com.itStudy.entity.User">
        SELECT id, name, salt, password, phone, qqid, sex, thumb
        FROM user WHERE name = #{name}
    </select>

    <select id="findbyArticleRef1" parameterType="int" resultType="com.itStudy.entity.User">
        SELECT id, name, thumb, vip  FROM user WHERE id = #{id}
    </select>




</mapper>